html,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar {
  box-shadow: ;
  max-width: 90%;
  display: flex;
  justify-content: space-around;
}

.nav-btn {
  margin: 10px;
  border-radius: 10px;
  width: 70px;
  padding: 1px 10px;
  letter-spacing: 2px;
}

.active {
  background-color: turquoise;
}
